doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content

  script(src='/javascript/manifest.js')
  script(src='/javascript/vendor.js')
  script(src='/javascript/app.js')


