doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
  script(src='/javascript/manifest.js')
  script(src='/javascript/vendor.js')
  script(src='/javascript/app.js')



