doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
    

  body
    block content

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
  script(src='/javascript/manifest.js')
  script(src='/javascript/vendor.js')
  script(src='/javascript/app.js')



